# 의존성 라이브러리 (가장 중요)
node_modules

# 빌드 결과물 (도커 안에서 새로 빌드할 것이므로 제외)
dist
build

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git 관련 (이미지 안에 들어갈 필요 없음)
.git
.gitignore

# 환경 변수 파일 (보안상 중요!)
.env
.env.local

# OS 관련 파일
.DS_Store
Thumbs.db

# 도커 관련 파일 자체
Dockerfile
.dockerignore